<div th:fragment="header">
    <header class="p-3 mb-3 border-bottom">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
            <!--            <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">-->
            <div class="nav justify-content-left">
                        <span class="navbar-text" id="info">
                        </span>
            </div>
            <div class="container">
                <a class="navbar-brand" href="#">Main</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--                        <li class="nav-item">-->
                        <!--                            <a class="nav-link active" aria-current="page" href="/">Главная</a>-->
                        <!--                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="/">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Анализатор</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Манчкин</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Информация</a>
                        </li>
                    </ul>

                </div>
            </div>
            <form role="search">
                <input class="form-control" type="search" placeholder="Искать" aria-label="Искать">
            </form>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/logout'}" style="color: #a2a2a2">Выйти</a>
                </li>
            </ul>
        </nav>
    </header>
</div>